header h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    align-items: center;
    justify-content: center;
    display: flex;
}

.info img {
    height: 500px;
    width: 500px;
    float: left;
}

.info p {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}

#gameDiv {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid blue;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    background-color: rgba(100, 148, 237, 0.5);
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}